:root {
  --dark-color: #000;  
  --light-color: #fff; 
}

table {
  border-collapse: collapse;
  border: 1px solid;  
}

tr {
  border: 1px solid;  
}

td {
  border: 1px solid;
  width: 60px;
  height: 60px; 
}


tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
   background: var(--dark-color);
}

tr:nth-child(odd) td:nth-child(even), 
tr:nth-child(even) td:nth-child(odd) {
   background: var(--light-color); 
}